{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "document": false
    },
    "rules": {
        // Allow strings to exceed max line length
        "max-len": ["error", 150, {
            "ignoreComments": true,
            "ignoreTrailingComments": true,
            "ignoreUrls": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
        }],

        // Indent with 4 spaces (also switch statements)
        "indent": ["error", 4, { "SwitchCase": 1 }],

        // Indent JSX with 4 spaces
        "react/jsx-indent": ["error", 4],

        // Indent props with 4 spaces
        "react/jsx-indent-props": ["error", 4],

        // Allow windows line spacing
        "linebreak-style": 0,

        // Allow underscore for ID
        "no-underscore-dangle": ["error", { "allow": ["_id", "_json"] }],

        // Allow tabs
        "no-tabs": 0,

        // Allow .js file extensions for JSX components
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

        // Disable comma dangle
        "comma-dangle": ["error", "never"],

        // Allow console logs
        "no-console": "off",

        // Allow reassignment of function parameters
        "no-param-reassign": 0,

        // Allow devDependencies (webpack)
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],

        // Allow <Link> from react-router
        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to", "hrefLeft", "hrefRight" ],
            "aspects": [ "noHref", "invalidHref", "preferButton" ]
        }],

        // Don't required default propTypes
        "react/require-default-props": 0,

        // Allow destructuring of objects on same line
        "object-curly-newline": 0
    }
}
