.forgot-password-form {
  max-width: 100%;
  width: 550px;
  margin: 50px auto;
  border: 1px solid #dce0e0;
  background: #fff;
  padding: 32px;

  h1 {

  }

  .subtitle {
    font-size: 18px;
    line-height: 24px;
    color: #484848;
    position: relative;
    margin-bottom: 20px;
  }

  .forgot-pass-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    button {
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
        font-size: 20px;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .forgot-password-form {
    width: 100%;
    border: 0;
    padding: 20px;
  }
}
